.chat-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-panel .chat-panel-header {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #bdbdbd;
}

.chat-panel .chat-panel-header .userHead {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 5px 0 10px 15px;
}

.chat-panel .chat-panel-header .userHeadDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-panel .chat-panel-header .buttonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-panel .chat-panel-header .buttonDiv div {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.chat-panel .chat-panel-header p {
  margin-left: 10px;
}

.chat-panel .message-list {
  flex: 14;
}

.chat-panel .toolbar {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat-panel .toolbar div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  height: 34;
  margin: 0 5px;
  cursor: pointer;
}


.chat-panel .input-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.chat-panel .input-box input {
  width: 80%;
  height: 90%;
  border-radius: 16px;
  background-color: white;
  user-select: text;
  outline: none;
  padding: 0 10px;
}
