@font-face {
  font-family: 'iconfont';  /* project id 455627 */
  src: url('//at.alicdn.com/t/font_455627_dyhonxzbzdoyldi.eot');
  src: url('//at.alicdn.com/t/font_455627_dyhonxzbzdoyldi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_455627_dyhonxzbzdoyldi.woff') format('woff'),
  url('//at.alicdn.com/t/font_455627_dyhonxzbzdoyldi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_455627_dyhonxzbzdoyldi.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.headpic {
  color: white;
}

.chatpic {
  color: #ca4f00;
}

.chattoolbar {
  color: #000;
}

.closepic {
  color: grey;
}
