.iconMenu {
  margin-left: 10px;
  position: absolute;
  z-index: 999;
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.iconMenu div {
  flex: 1;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding-left: 10%;
  cursor: pointer;
}

.iconMenu div:hover {
  background-color: #eeeeee;
}
