.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 200px;
  background-color:rgba(255,255,255,0.9);
}

.managerBlock{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.userHead {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 20px 80px 0 0;
}

.input-normal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 10px;
  width: 250px;
  height: 36px;
}

.input-normal input {
  flex: 1;
  height: 36px;
  padding-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;
}

.input-normal span {
  margin-right: 10px;
  font-size: 16px;
}


