.messageItem {
  display: block;
}

.messageItem .message {
  display: flex;
  padding-bottom: 10px;
}

.messageItem .message .userHead {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 40px;
  width: 40px;
  background-color: #008b8b;
  border-radius: 50%;
  margin: 5px;
}

.messageItem .message .userText {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.messageItem .message .userText .textFrom {
  display: inline-block;
}

.messageItem .message .userText .textFrom .text-userName {
  font-size: 14px;
  color: #202020;
}

.messageItem .message .userText .textFrom .text-time {
  font-size: 12px;
  color: #202020;
  margin-left: 5px;
}

.messageItem .message .userText .textData {
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  box-shadow: 3px 3px 10px #aaa;
  border-radius: 10px;
  word-break: break-all;
}
