* {
  margin: 0;
  padding: 0;
}

html {
  font: 14px/1.4 '微软雅黑';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: gainsboro;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.mainWindow {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  height: 95vh;
  width: 1000px;
  flex-direction: column;
}

.wrapper .leaderBar {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #faa56f;
}

.wrapper .logo {
  height: 4rem;
  width: 8rem;
  flex: 1;
  margin-left: 1rem;
  margin-bottom: 1rem;
  background: url('../../assert/icon/logo.png') no-repeat;
}

.wrapper .nav-list {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper .nav-list div:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.wrapper .nav-list div:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav-list-item {
  width: 5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0864c;
  cursor: pointer;
}

.selected {
  background-color: #efbb9a;
}

.wrapper .user-panel {
  flex: 1;
}

.wrapper .mainBody {
  background: inherit;
  flex: 1;
  background-color: hsla(0, 0%, 99%, 0.4);
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.wrapper .mainBody .chattingManager {
  width: 250px;
  border-right: 1px solid #bdbdbd;
  position: relative;
  max-height: 100%;
}

.wrapper .mainBody .chattingBody {
  flex: 1;
  max-width: 750px;
}
