.managerItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  cursor: default;
  position: relative;
  left: 0;
  transition: transform 0.1s;
  user-select: none;
}

.managerItem:hover {
  transform: translateX(-5px);
}

/* .managerItem :hover {
  background-color: rgba(255, 255, 255, 0.932);
} */

.managerItem .itemPic {
  position: relative;
  width: 40px;
  height: 40px;
}

.managerItem .itemPic .unread {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background-color: #e62e2e;
  color: white;
}

.managerItem .itemContent {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 5px;
}

.managerItem .itemContent div:first-child {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.managerItem .itemContent div:last-child {
  height: 17px;
}

.managerItem .itemContent div:first-child p:first-child {
  font-size: 14px;
  color: #212121;
  margin: 0;
}

.managerItem .itemContent div:first-child p:last-child {
  font-size: 12px;
  color: #3b3535;
  margin: 0;
}

.managerItem .itemContent div:last-child span {
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #3b3535;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.managerItem .itemContent div:last-child p {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 140px;
  vertical-align: bottom;
  line-height: 17px;
}
